.music-video-wrapper {
    /* border: 1px solid red;
    border-radius: 20px; */

    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;

    margin: 30px;
}

.music-video-player {
    background-color: black;

    height: 270px;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-style: italic;

    margin: 15px;
}

.music-video-description {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-wrap: wrap;
    margin: 15px;
}