.App {
  text-align: center;
  /* background-image: url('../../../public/images/from-man2mist-version2.png'); */
  background-image: url('../../images/backgrounds/dsktp_background-1280x720.png');
  /* background-position: initial; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  /* learn how to make flex grow/shrink work
  for resizing screen and keeping background full screen
  also, this may not be flex grow/shrink */

  height: 100%;
}
/*
#root {
  height: 100vh;
  width: 100vw;

  height: 100%;
  width: 100%;
} */