.home-wrapper {
    /* border: 1px solid red;
    border-radius: 20px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    height: auto;
    font-size: 30px;
    font-weight: bold;

    padding-top: 100px;
}