.home-wrapper {
    /* border: 1px solid red;
    border-radius: 20px; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    color: white;
    /* height: auto; */
    font-size: 30px;
    font-weight: bold;

    /* padding-top: 50px;
    padding-bottom: 100px; */
}

.yt-embed-wrapper {
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
}