.social-media-links-ul {
    display: flex;
    width: 100%;

    padding-left: 0;
    justify-content: center;
}

.social-media-icon {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 20px;
}

.social-media-icon:hover {
    cursor: pointer;
    background-color: orange;
    display: flex;
    /* add a transition animation here */
    /* involving icons' opacity */
    /* and maybe bouncy resize */
}