.social-media-links-ul {
    /* border: 1px solid red; */

    display: flex;
    width: 100%;

    padding-left: 0; /* ul automatically gets 40px padding-left */
    justify-content: space-evenly;
}

.social-media-icon {
    /* border: 1px solid red; */

    height: 50px;
    width: 50px;
    border-radius: 40px;
    object-fit: cover;
}

.social-media-icon:hover {
    cursor: pointer;
    background-color: orange;
    border: 1px solid orange;
    display: flex;
    /* flex-grow: 1; */
    /* height: 70px;
    width: 70px; */
    /* add some sort of animation / transition here */
    /* experiment with flex grow / shrink */
}